@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Passion+One:wght@400;700&display=swap');

/* Default styles */
html {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito Sans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #000000;
}
.page {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: #D6ECFF;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}
.navigatin__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navigation__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation__menu li {
  font-size: 1.14em;
  display: block;
}
li a {
  padding: 2.5em 1em;
}
.navigation__menu a:hover {
  background-color:#F5F5DC;
  font-weight: bold;
}
.btn--kosik {
  width: 50px;
  height: 50px;
  content: url(../Fotky/bag-svgrepo-com.svg);
}
.hamburger-row {
  display: none;
}
.hamburger-btn img{
  width: 50px;
  height: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swaper{
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swaper__item {
  display: none;
  overflow: hidden;
}
.swaper__content {
  width: 500px;
  height: 500px;
  margin: 2em;
}
.swaper__item-content a img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 10px;
}
.content__obchodní-podminky--text-block {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.products__nabidka--menu li {
  display: block;
}
.products__nabidka--menu li:hover a {
  font-weight: bold;
}
.products__nabidka--menu li a {
  padding: 0;
}
.products__nabidka {
  text-align: center;
}
.products {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product--wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
}
.cena {
  font-size: 1.25em;
  font-weight: bold;
}
.btn--do-kosiku {
  background-color: #DEAAEE;
  padding: 10px 15px !important;
  border-radius: 10px;
  color: white;
}
footer {
  background-color: #D6ECFF;
  text-align: center;
  padding: 2em 0;
}
.footer--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.footer__obchodni-podminky {
  font-weight: bold;
  font-size: 1.25em;
}
.footer__menu--menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer__menu--menu li {
  font-size: 1.14em;
  display: block;
  margin: 0;
  padding: 0;
}
.footer__menu--menu li a {
  display: block;
  padding: 0;
}
.footer__menu--menu a:hover {
  font-weight: bold;
}
.footer--created-by {
  padding-top: 2em;
} 
.footer__socialni-site {
  display: flex;
  flex-direction: column;;
  gap: 0.5em;
}
 .facebook img, .instagram img{
  width: 25px;
  height: 25px;
}

/* Mobile styles */
@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .menu {
    padding: 1em 1.5em ;
  }
  .navigation {
    flex-direction: row;
    gap: 1em;
  }
  .navigatin__title--logo {
    width: 50px;
    height: auto;
  }
  li a {
    padding: 2em 0.5em;
  }
  /*
  .hamburger-nav {
    display: none;
  }
  .active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }  */
  .content {
    margin: 4em;
  }
  .swaper__content {
    width: 350px;
    height: 350px;
  }
  .products {
    margin: 4em;
    gap: 4em;
  }
  .product {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .products__nabidka--nazev-odvetvi {
    font-size: 2em;
  }
  .products__nabidka--menu > *{
    font-size: 1.25em;
  }
  .products__nabidka--menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 0;
    padding: 0;
  }
  .product__text-block {
    margin: 0.5em 1.45em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .product__text-block * {
    margin: 0;
    padding: 0;
  }
  .product__text-block--vlastnost {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }
  .product__text-block--vlastnost p {
    text-align: center;
  }
  .product__text-block--nakup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    gap: 0.5em;
  }
  .footer--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__socialni-site {
    display: flex;
    flex-direction: row;
  }
}

/* Tablet style */
@media screen and (min-width: 900px) and (max-width:1280px) {
  html {
    font-size: 13px;
  }
  .menu {
    padding: 1.5em 3em;
  }
  .navigatin__title--logo {
    width: 100px;
    height: auto;
  }
  .hamburger-row {
    display: none !important;
  }
  .content {
    margin: 7em;
  }
  .products {
    margin: 4em;
    gap: 6em;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 6em;
  }
  .product--wrapper {
    gap: 0.5em;
  }
  .products__nabidka--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .product__text-block--nakup {
    padding: 2em;
  }
}

/* Desktop styles */
@media screen and (min-width: 1281px) {
  html {
    font-size: 14px;
  }
  .menu {
    padding: 2em 7.5em;
  }
  .navigatin__title {
    gap: 1em;
  }
  .navigatin__title * {
    margin: 0;
    font-size: 1.14em;
  }
  .navigatin__title--nazev {
    font-size: 1em;
    font-weight: bold;
  }
  .navigatin__title--logo {
    width: 100px;
    height: auto;
  }
  .text-block * {
    margin: 0;
    line-height: 2em;
  }
  .content {
    margin: 7em;
  }
  .products {
    margin: 7em;
    gap: 7em;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 6em;
  }
  .product--wrapper {
    gap: 0.5em;
  }
  .product--wrapper:hover {
    transform: scale(120%);
    border-radius: 20px;
    box-shadow: 0 0 8px 2px black;
    background-color: white;
    z-index: 1;
  }
  .products__nabidka--nazev-odvetvi {
    font-size: 3em;
  }
  .products__nabidka--menu > * {
    font-size: 1.45em;
  }
  .products__nabidka--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    margin: 0;
    padding: 0;
  }
  .product__text-block {
    margin: 0.5em 1.45em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .product__text-block * {
    margin: 0;
    padding: 0;
  }
  .product__text-block--vlastnost {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }
  .product__text-block--vlastnost p {
    text-align: center;
  }
  .product__text-block--nakup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    gap: 0.5em;
  }
}